<div class="full-page">

    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <md-card class="my-card">
                    <md-card-title-group>

                        <md-card-title class="title">Cerere Transport</md-card-title>
                        <i class="material-icons">directions_bus</i>
                    </md-card-title-group>

                    <md-card-actions class="active" align="end">
                        <li class="active">
                            <!--acel routerLink inn mom cand dai click te redirectioneaza
                             catre o anumita pagina ..aici e cazul cu transportDoc..deci cand o sa faceti
                             voi o sa puneti numele componentei respective la restul butoanelor
                              modifica si la app.routing.ts-->
                            <button md-button class="button" routerLink="/transportDoc">Vezi lista cereri</button>
                        </li>
                    </md-card-actions>
                </md-card>
            </div> <!--first card-->
            <div class="col-md-4">

                <md-card class="my-card">
                    <md-card-title-group>
                        <md-card-title class="title">Cerere intrerupere studii</md-card-title>
                    </md-card-title-group>

                    <md-card-actions class="active" align="end">
                        <li class="active">
                            <button md-button class="button">Vezi lista cereri</button>
                        </li>
                    </md-card-actions>
                </md-card>
            </div> <!--second card-->
            <div class="col-md-4">

                <md-card class="my-card">
                    <md-card-title-group>
                        <md-card-title class="title">Cerere Diploma</md-card-title>
                    </md-card-title-group>

                    <md-card-actions class="active" align="end">
                        <li class="active">
                            <button md-button class="button">Vezi lista cereri</button>
                        </li>
                    </md-card-actions>
                </md-card>
            </div> <!--third card-->


            <div class="col-md-4">

                <md-card class="my-card">
                    <md-card-title-group>
                        <md-card-title class="title">Cerere Retragere</md-card-title>
                    </md-card-title-group>

                    <md-card-actions class="active" align="end">
                        <li class="active">
                            <button md-button class="button">Vezi lista cereri</button>
                        </li>
                    </md-card-actions>
                </md-card>
            </div> <!--forth card-->

            <div class="col-md-4">

                <md-card class="my-card">
                    <md-card-title-group>
                        <md-card-title class="title"> Cerere Situatie Scoalara</md-card-title>
                    </md-card-title-group>

                    <md-card-actions class="active" align="end">
                        <li class="active">
                            <button md-button class="button">Vezi lista cereri</button>
                        </li>
                    </md-card-actions>
                </md-card>
            </div>  <!--fifth card-->

            <div class="col-md-4">

                <md-card class="my-card">
                    <md-card-title-group>
                        <md-card-title class="title">Blank</md-card-title>
                    </md-card-title-group>

                    <md-card-actions class="active" align="end">
                        <li class="active">
                            <button md-button class="button">Vezi lista cereri</button>
                        </li>
                    </md-card-actions>
                </md-card>
            </div> <!--fifth card-->


        </div><!--final row-->
    </div><!--final container-->

</div>
