
nav {
  background-color: #3C718E;
  text-align: center;
  color: white;
  border: none;
  height: 25%;
}

#container {
  margin-top: 4%;
  margin-left: 0;
  margin-right: 0;
  background-color: #336277;
  padding: 0.7em 0 0.2em 0;
  text-align: center;
  border: 0;
}

.btn {
  background-color: #336277;
}

.mini-nav {
  margin-top: 1.6%;
}

.banner {
  text-shadow: 2px 2px 8px #1E1E1E;
}