
nav {
  background-color: #3C718E;
  text-align: center;
  color: white;
  border: none;
  height: 25%;
  z-index: 1;
}

#container {
  margin-top: 4%;
  margin-left: 0;
  margin-right: 0;
  background-color: #336277;
  padding: 0.7em 0 0.2em 0;
  text-align: center;
  border: 0;
}

.btn {
  background-color: #336277;
}

.btn2 {
  align-content: right;
  float: right;
}

.btn {
  background-color: transparent;
}

.btn:hover {
  text-decoration-style: solid;
  color: white;
  text-shadow: 0 0 2px white;
}

.btn:after {
  color: white;
  text-shadow: 0 0 2px white;
}

.mini-nav {
  margin-top: 1.6%;
}

.banner {
  text-shadow: 2px 2px 8px #1E1E1E;
  text-align: center;
  padding-left: 10%;
}

.mini-nav {
  margin-top: 1.6%;
}

@media screen and (max-width: 1280px) {
  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    padding-left: 15%;
    align-content: center;
  }

  nav {
    background-color: #3C718E;
    color: white;
    border: none;
    height: 25%;
  }

  nav #container {
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    background-color: #336277;
    padding: 0.7em 0 0.2em 0;
    text-align: center;
    border: 0;
    height: 35%;
  }

}

@media screen and (max-width: 840px) {

  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    padding-left: 15%;
    font-size: 1.4em;
    align-content: center;
  }

  nav {
    background-color: #3C718E;
    color: white;
    border: none;
    height: 25%;
  }

  nav #container {
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    background-color: #336277;
    padding: 0.7em 0 0.2em 0;
    text-align: center;
    border: 0;
    height: 35%;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.4em;
  }

  nav {
    background-color: #3C718E;
    color: white;
    border: none;
    height: 15%;
  }

  nav #container {
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    background-color: #336277;
    padding: 0.7em 0 0.2em 0;
    text-align: center;
    border: 0;
    height: 35%;
  }
}
