<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <h1 class="banner">FII DOCUMENTS FLOW</h1>
    <div id="container">
        <!--HOME btn-->
        <div class="active mini-nav">
            <!--home btn which will show on normal screen-->

            <button class="hidden-xs btn" routerLink="home">
                Home
            </button>

            <button class="visible-xs btn" data-toggle="collapse" data-target=".navbar-collapse" md-button
                    routerLink="home">
                Home
            </button>
        </div>
    </div>
</nav>